
.container-fluid {
    background-color: #00264d;
    padding: 0px;
    height: 80px;
    
}

.navbar-light {
    padding: 0px;
}

.navbar.fixed-bottom.bg-light {
    padding: 0px;
    
}
.navbar-brand {
    color: white;
    padding-left: 50%;
    
  
}

img {
    width:300;
}

.container-fluid.navbar-brand {
    margin: 0px;
}

body {
    background-color: red;
}